{
    "presets": ["es2015", "react"],
    "plugins": [
        "react-hot-loader/babel",
        "transform-react-jsx",
        "jsx-control-statements",
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}
